body{
    background-color: aliceblue;
    align-content: center;
    justify-content:center;
    height:100vh;
}

.pass-container{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height:300px;
    background-color:#F4BBFF;
    color:RGB(15, 7, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width:400px;
    max-width:800px;
    margin-top:2in;
    margin-left:3.9in;
    position:relative;
}

.pass-head{
    position:absolute;
    top:0.1rem;
    left:1rem;
    padding:1rem;
    padding-top:1.5rem;
    margin-top:01rem;
    background-color:#F4C430;
    color:RGB(15, 7, 0);
    display:block;
    width:85%;
}

.pass-controls{
    padding:1rem;
    margin-top:2rem;
}

.btn{
    float: right;
}

/* .btn-generate{
   position:absolute;
   bottom:0rem;
   display:block;
   width:100%;
   height:14%;
   background-color: #F4A460;
   color:RGB(15, 7, 0);
   font-weight: bolder;
   border-style: solid;

} */

.pass-length{
    position:absolute;
    top:6rem;
}

.btn-len{
    margin-left:8em;
}